container_commands:
  startup:
    command: |
      sudo yum install -y git
      sudo yum install -y --skip-broken gcc g++ make automake autoconf curl-devel openssl-devel zlib-devel httpd-devel apr-devel apr-util-devel sqlite-devel
      sudo yum install  y ruby-rdoc ruby-devel
      sudo yum install -y rubygems
      sudo yum install -y patch

      sudo gem update
      sudo gem update --system
      gem install github-pages -v 28
      gem install jekyll-assets -v 0.11.0
      gem install react-jsx-sprockets -v 0.2.0

      mkdir ~/static
      cd ~/static
      git init
